.title-wrapper {
  margin: 20px 0 50px;
}

.answers-list {
  list-style: none;
  padding: 50px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.answer-container {
  width: 100%;
  max-width: 1150px;
}

.answer-container__link {
  color: rgba(212, 255, 0, 0.994);
}

.answer-card__content:not(:last-child) {
  margin-bottom: 50px;
}

.answer-card__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 118%;
  font-weight: 700;
}

.answer-card__paragraph {
  margin: 20px 0 0;
}

.answer-card__img {
  margin-top: 5px;
  display: block;
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.523);
}
.content-button-wrapper {
  display: flex;
  gap: 20px;
}
.content-button {
  font-size: calc(18px + 4 * ((100vw - 400px) / (1100 - 400)));
  line-height: 118%;
  font-weight: 700;
  color: rgba(212, 255, 0, 0.994);

}
.content-button_active {
  opacity: 0.7;
}
.table {
  border-spacing: 0;
}

.table__cell {
  vertical-align: top;
  padding: 30px 15px 0;
  position: relative;
}

.table__cell_type_content:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1px;
  top: calc(30px + (100% - 30px) * 0.05);
  width: 1.5px;
  background-color: rgba(212, 255, 0, 0.994);
  height: calc((100% - 30px) * 0.9);
}

.table__cell_type_heading {
  padding-top: 0;
}

.table__cell_type_heading:nth-child(1) {
  min-width: 129px;
}

.table__cell_type_heading:nth-child(2) {
  min-width: 194px;
}

.table__cell_type_heading:nth-child(3) {
  width: 60%;
}

.table__list {
  padding: 0;
  list-style: none;
}
.table__list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 1919px) {
  .table__cell_type_heading {
    font-size: calc(18px + 4 * ((100vw - 768px) / (1920 - 768)));
  }
}
@media screen and (max-width: 1100px) {
  .answers-list {
    list-style: none;
    padding: 0 0 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .answer-card__subtitle {
    display: none;
  }
  .answer-container_contain_text {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .table__heading {
    display: none;
  }
  .table__cell_type_content {
    display: block;
    padding: 20px 15px 0;
  }
  .table__cell_type_content:nth-child(1) {
    padding-top: 40px;
  }
  .table__cell_type_content:not(:last-child)::after {
    content: none;
  }
  .table__cell_type_content::before {
    content: attr(data-label);
    display: block;
    font-size: 18px;
    line-height: 118%;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .table__row {
    position: relative;
    display: block;
  }
  .table__row:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: rgba(212, 255, 0, 0.994);
    width: 100%;
    height: 1px;
  }
}
