.answer-card {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
  line-height: 160%;
}

.answer-card__title-wrapper {
  flex-basis: 550px;
}

.answer-card__title {
  position: sticky;
  top: 20px;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 125%;
}

@media screen and (max-width: 1919px) {
  .answer-card {
    font-size: calc(16px + 2 * ((100vw - 768px) / (1920 - 768)));
  }

  .answer-card__title {
    font-size: calc(32px + 22 * ((100vw - 768px) / (1920 - 768)));
  }
}
@media screen and (max-width: 1100px) {
  .answer-card__title-wrapper {
    flex-basis: unset;
  }

  .answer-card {
    flex-direction: column;
  }

  .answer-card__title {
    position: static;
    max-width: 570px;
  }
}
@media screen and (max-width: 767px) {
  .answer-card {
    font-size: 16px;
    gap: 25px;
  }
  .answer-card__title {
    font-size: 32px;
  }
}
